footer{
    padding: 0 50px;
}
footer h1{
    font-family: 'Utopia', 'Museo-sans', 'Helvetica', sans-serif;
    font-size: 2.5rem;
    margin: 21.5rem 0 0 0;
}
footer h2{
    font-family: 'Helvetica', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #0A142E;
    margin-bottom: 1.8rem;
    margin-top: 4rem;
}
footer a, .contactMe span{
    text-decoration: none;
    color: #707070;
    font-size: 1.4rem;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer li{
    margin-bottom: 1.5rem;
}

.contactMe span+span{
    text-decoration: none;
    color: #0A142E;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 0.5rem;
}
.contactMe__tel{
    margin-bottom: 1.5rem;
}

.social ul{
    list-style: none;
}
.social{
    margin-bottom: 4rem;
}
.social li{
    display: inline;
    margin-right: 2.5rem;

}

@media (min-width: 1000px){
    footer{
        margin: 20rem 14rem;
        display: flex;
        justify-content: space-between;
    }
    footer h1{

        margin: 4rem 0;
    }
}