/*.intro, */.slider, .project, .testimony{
    padding: 0 50px;
}

.title{
    display: block;
    font-family: Helvetica, 'Museo-sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #17538F;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 2rem;
}
.course {
    text-align: center;
}

.subTitle{
    font-family: Utopia, sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
}

/*a enlever*/
/*img{
    width: 100%;
}
.imgNat{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80vh;
    z-index: -1;
    background-image: url("../assets/img/122763905_347040526403597_6512450596744163280_n.jpg");
    background-size: cover;
}
.imgNatContainer {
    padding-bottom: 80vh;
}*/
.text{
    color: #707070;
    line-height: 2.7rem;
    margin-bottom: 4rem;
}

.intro h2{
    font-weight: bold;
    font-size: 1.6rem;
}

.intro li{
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.intro li svg{
    margin-right: 2rem;
}

.intro__infos{
    box-shadow: 0 1.9rem 3.8rem rgba(61,61,61,0.16);
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}
.infoAbout{
    margin-bottom: 30px;
    padding: 0 2rem 0 2rem;
}
.infoAbout:first-child{
    padding-top: 2rem;
}
.infoAbout div{
    display: flex;
    align-items: center;
}
.infoAbout p, .infoAbout span{
    margin-top: 1rem;
    margin-left: 3.4rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: #707070;
}
.infoAbout svg{
    margin-right: 1rem;
}



@media (min-width: 1000px){

    .intro{
        display: flex;
        gap: 8rem;
    }
    .natImg__container img{
        width: 45vw;
    }
    .intro__container{
        margin-right: 180px;
    }
    /*img{
        width: 890px;
    }
    .imgNat{
        z-index: -1;
        background-image: url("../assets/img/122763905_347040526403597_6512450596744163280_n.jpg");
        background-repeat: no-repeat;
        background-size: 700px;
    }
    .imgNatContainer {
        padding-bottom: 80vh;
    }*/
    .slider, .project, .testimony{
        padding: 0 14rem;
    }

    .intro__infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.infoAbout{
        margin: 0;
        padding: 3rem 4rem;
    }
    div.infoAbout:first-child{
        margin: 0;
        padding: 3rem 4rem;
    }
}
