.white{
    color: white;
}
.orange{
    color: #FF734C;
}
.testimony{
    background-color: #0F1F30;
    padding-top: 8.7rem;
}

.oneTestimony{
    background-color: white;
    margin-right: 2rem;
    padding: 4rem 2rem;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*box-shadow: 1.5rem 5.9rem 8.2rem rgba(113,113,131,0.38);*/
}
.oneTestimony span{
    font-size: 73px;
    font-family: 'Playfair Display', sans-serif;
}
.oneTestimony__body{
    font-family: 'Museo-sans', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: 2.5rem;
}

.oneTestimony__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.oneTestimony__container .rating, .oneTestimony__container .author{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating svg{
    margin-right: 1rem;
}
.rating p, .author__name{
    font-weight: 700;
    font-size: 1.4rem;
}

.author div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 5rem;
    margin-right: 1rem;
}

.author__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (min-width: 1200px) {
    .testimony{
        padding-bottom: 300px;
    }
    .testimony__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .testimony__subTitle{
        width: 350px;
        font-size: 45px;
    }
    .testimony__text{
        width: 500px;
    }

    .oneTestimony{
        width: 600px;
        height: 500px;
        border: #FF734C 1px solid;
    }
    .oneTestimony{
        padding: 6rem;
    }
    .testimony__sliderContainer{
        width: 100vw;
        overflow: hidden;
        position: absolute;
    }
    .testimony__slider{
        display: flex;

    }

}