.course {
  position: relative;
  background-color: #F6F6F6;
  padding: 18rem 0;
  margin-top: -8.5rem;
  margin-bottom: calc((33.66rem * 4) + (5rem * 3));
  z-index: 0;

  &__container {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 3rem;
    position: absolute;
    top: calc(100% - 9rem);
    left: 4rem;
    right: 4rem;


  }

  &__card {
    position: relative;

    &--link {
      display: block;
      position: absolute;
      text-indent: -9999px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }

  &__infos {
    background-color: white;
    box-shadow: 1rem 5.3rem 9.8rem rgba(182, 180, 180, 0.38);
    text-align: left;
    padding: 2rem;

    & div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & h4 {
      font-size: 1.6rem;
      font-family: 'Helvetica', 'Museo-sans', sans-serif;
      font-weight: 700;
    }

    & p {
      margin-top: 1.5rem;
    }
  }
}


.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24rem;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 600px) {
  .course {
    position: relative;
    background-color: #F6F6F6;
    padding: 18rem 0;
    margin-top: -8.5rem;
    margin-bottom: 70rem;
    z-index: 0;

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 3rem;
      padding: 0 3rem;
    }
  }
}


@media (min-width: 900px) {
  .course {
    &__container {
      padding: 0 12rem;
    }
  }
}

@media (min-width: $lg) {
  .course {
    text-align: center;
    margin-bottom: 0;

    &__text {
      padding: 0 10rem;
      text-align: center;
    }
    &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 3rem;
    }
  }
}

