.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 4rem;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0;
    }

    .burger {
        cursor: pointer;
        position: relative;
        z-index: 200;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;

        &-bar {
            display: block;
            width: 24px;
            height: 3px;
            background-color: #000;
            border-radius: 99px;
            border: none;
        }
    }

    &__title{
        font-family: 'Utopia', 'Museo-sans', 'Helvetica', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
}

.nav{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vw;
    background-color: #FF734C;
    padding: 2rem 2.5rem;
    color: white;
    border-left: 1px solid #0F1F30;
    transition: 0.3s all ease-in;
    z-index: 199;
    justify-content: space-around;
    align-content: stretch;

    &.show {
        display: flex;
    }

    & ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3rem;
        align-content: space-between;
    }

    & a{
        font-size: 1.8rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: .3s all ease-in;
    }

    & a:hover, a:active, a:focus{
        text-decoration: underline;
    }
}


@media (min-width: $lg){
    .header {
        .container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .burger {
            display: none;
        }

        &__title{
            font-family: 'Utopia', 'Museo-sans', 'Helvetica', sans-serif;
            font-weight: bold;
            font-size: 30px;
            color: white;
            margin-left: 3rem;
        }
    }

    .nav {
        display: flex;
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;

        & ul{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 80rem;
            padding: 0 0 0 20rem;
            gap: 4rem;
        }

        .contactAlone {
            margin-left: auto;
        }

        & a{
            font-size: 1.5rem;
            font-weight: 600;
            color: #B6B4B4;
            text-decoration: none;
        }

        & a:hover, a:active, a:focus{
            color: black;
        }
    }
}
.contactAlone .contact{
    color: #000;
}

