.portfolio{
  margin-bottom: 10rem;
  &__container{

    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  & video{
    width: 100%;
    height: auto;
  }
}

@media (min-width: 800px){
  .portfolio{
    margin-top: 40rem;
    margin-bottom: 10rem;

    &__container{
      display: flex;
      flex-direction: row;
      gap: 10rem;
    }

    &__video{
      flex: 1 0 45%;
    }

    & video{
      width: 100%;
      height: auto;
    }
  }

}