@import "reset";
@import "variables";
@import "fonts";


html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body, body * {
    box-sizing: border-box;
}

p {
    font-size: 1.6rem;
}

body{
    font-family: Museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;

}

.sro {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {
    box-sizing: content-box;
    padding: 0 4rem;
    margin: 0 auto;
}
@media (min-width: 900px){
    .container {
        padding: 0 8rem;
        margin: 0 auto;
    }
}
@media (min-width: $lg){
    .container, .container-img {
        padding: 0 14rem;
        margin: 0 auto;
    }
}

@media (min-width: $xl){
    .container, .container-img {
        max-width: 1220px;
        padding: 0 6rem;
        margin: 0 auto;
    }
}


@import "buttons";
@import "header";
@import "footer";
@import "intro";
@import "slider";
@import "course";
@import "project";
@import "temoignages";
@import "contact";
@import "portfolio";